@import url(_variaveis.css);
@import url(../componentes/botoes.css);
@import url(_reset.css);

body{
    font-family:  var(--familia-corpo);
    font-size: var(--tamanho-corpo);
    background: url(/assets/img/fundo-linhas.png);
    background-position:center ;
}
.container{
    padding-right: 1rem;
    padding-left: 1rem;
}