.botao{
    background-color:  var(--amarelo);
    font-family:  inherit;
    font-weight: 700;
    text-align: center;
    color: var(--branco);

    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;

    box-shadow: 10PX 10PX 30px #FFCB473D;

    border: none;
}